<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            @foreach (var item in Choices)
            {
                <MudButton OnClick="() => Select(item)">@item</MudButton>
            }                   
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">@CloseText</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public List<string> Choices { get; set; } 
    [Parameter] public string CloseText { get; set; } = "";
    [Parameter] public string Selected { get; set; } = "";

    void Close() => MudDialog.Close(DialogResult.Ok(true));

    void Select(string sel)
    {
        Selected = sel;
        MudDialog.Close(DialogResult.Ok(true));
    }

    void ChangeTitle()
    {
        //MudDialog.SetTitle("Current time is: " + DateTime.Now);
    }

    void ToggleCloseButton()
    {
        //MudDialog.Options.CloseButton = !(MudDialog.Options.CloseButton ?? false);
        //MudDialog.SetOptions(MudDialog.Options);
    }

    void ToggleFullWidth()
    {
        //MudDialog.Options.FullWidth = !(MudDialog.Options.FullWidth ?? true);
        //MudDialog.SetOptions(MudDialog.Options);
    }

    void ToggleHeader()
    {
        //MudDialog.Options.NoHeader = !(MudDialog.Options.NoHeader ?? false);
        //MudDialog.SetOptions(MudDialog.Options);
    }
}
