@page "/"
@inject IDialogService Dialog
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudButton OnClick="@((e) => OpenDialog(disableBackdropClick))" Color="Color.Tertiary">Disable backdrop dialog</MudButton>
@code {
    DialogOptions disableBackdropClick = new DialogOptions() { DisableBackdropClick = true };
    private void OpenDialog(DialogOptions options)
    {
        var result = Dialog.Show<Dialog>("Custom Options Dialog", options);
        
    }
}
