@page "/"
@inject IDialogService Dialog
<PageTitle>Index</PageTitle>

<h1>@Title</h1>



<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudButton OnClick="@((e) => OpenDialog(disableBackdropClick))" Color="Color.Tertiary">Disable backdrop dialog</MudButton>
@code {
    DialogOptions disableBackdropClick = new DialogOptions() { DisableBackdropClick = true };

    public string Title { get; set; } = "";

    private async Task OpenDialog(DialogOptions options)
    {
        var result = Dialog.Show<Dialog>("Custom Options Dialog", options);

        var a =await result.GetReturnValueAsync<object>();

        if (a != null)
        {
            if ((bool)a == true)
            {
                Title = "Premuto Ok";
            }
            else
            {
                Title = "Annullato";
            }
        }
        else
        {
            Title = "Fuori";
        }
    }
}
